>
<div class="container">
  <input
    class="bg-dark w-100 text-white text-end p-3"
    type="text"
    placeholder="0"
    [(ngModel)]="input"
  />
  <div class="row mt-2 main">
    <div class="col-2">
      <button type="button" class="btn btn-primary" (click)="valueEntered('+')">
        +
      </button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary" (click)="valueEntered('-')">
        -
      </button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary" (click)="valueEntered('x')">
        x
      </button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary" (click)="valueEntered('÷')">
        ÷
      </button>
    </div>
  </div>
  <div class="row main">
    <div class="col-2">
      <button type="button" class="btn btn-primary" (click)="valueEntered('7')">
        7
      </button>
      <div class="row">
        <div class="col-2">
          <button
            type="button"
            class="btn btn-primary"
            (click)="valueEntered('4')"
          >
            4
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <button
            type="button"
            class="btn btn-primary"
            (click)="valueEntered('1')"
          >
            1
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <button
            type="button"
            class="btn btn-primary"
            (click)="valueEntered('0')"
          >
            0
          </button>
        </div>
      </div>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary" (click)="valueEntered('8')">
        8
      </button>
      <div class="row">
        <div class="col-2">
          <button
            type="button"
            class="btn btn-primary"
            (click)="valueEntered('5')"
          >
            5
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <button
            type="button"
            class="btn btn-primary"
            (click)="valueEntered('2')"
          >
            2
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <button
            type="button"
            class="btn btn-primary"
            (click)="valueEntered('.')"
          >
            .
          </button>
        </div>
      </div>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary" (click)="valueEntered('9')">
        9
      </button>
      <div class="row">
        <div class="col-2">
          <button
            type="button"
            class="btn btn-primary"
            (click)="valueEntered('6')"
          >
            6
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <button
            type="button"
            class="btn btn-primary"
            (click)="valueEntered('3')"
          >
            3
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <button type="button" class="btn btn-primary" (click)="clearInput()">
            AC
          </button>
        </div>
      </div>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary" (click)="calculateResult()">
        =
      </button>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-2">
      <button type="button" class="btn btn-primary" (click)="valueEntered('4')">
        4
      </button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary" (click)="valueEntered('5')">
        5
      </button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary" (click)="valueEntered('6')">
        6
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <button type="button" class="btn btn-primary" (click)="valueEntered('1')">
        1
      </button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary" (click)="valueEntered('2')">
        2
      </button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary" (click)="valueEntered('3')">
        3
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <button type="button" class="btn btn-primary" (click)="valueEntered('0')">
        0
      </button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary" (click)="valueEntered('.')">
        .
      </button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-danger" (click)="clearInput()">
        AC
      </button>
    </div>
  </div> -->
</div>
